/* CSS applied to whole body */
body {
  padding-top: 55px;
  font-family: 'Gelasio', serif;
  font-size: 20px;
}

p {
  font-size: 1rem;
}

h4 {
  color: #f17362;
}

/* CSS applied to navbar */
.navbar-brand {
  margin-left: 10rem;
}

ul.navbar-nav {
  margin-right: 10rem;
}

.nav-link:link {
  color: #3282b8;
}

.nav-link:visited {
  color: #2c7873;
}

.nav-link:hover {
  color: white;
}

.nav-link:active {
  color: #0000FF;
}

/* CSS applied to flex-container */
.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-1 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 20%;
  background-color: #f3f3f3;
}

.flex-2 {
  flex-grow: 2;
  flex-shrink: 0;
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  background-color: #f6e1e1;
}

.content {
  width: 90%;
  padding: 20px 40px;
  background-color: white;
  margin: 20px auto;
}

/* CSS applied to div of self_intro */
.self_intro {
  margin-top: 20px;
}

.intro-table_flex {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
}

.intro-table_item {
  flex: 1;
}

/* CSS applied to div of Areas of Experience and Interest */
.experience-span {
  padding: 5px 10px;
  margin: 20px 10px;
  background-color: #0f4c75;
  color: white;
}

/* CSS applied to div of courses taken for programing */
.programming-basic_flex {
  display: flex;
  padding: 15px;
  margin: 15px 10px;
  background-color: #edf7fa;
  flex-direction: row;
}

.programming-basic_item {
  flex: 1;
  background-color: #ffb99a;
  margin: 5px;
  width: 18rem;
}

.card-img-top {
  width: 80%;
}

.card-title {
  height: 20%;
}

.card-text {
  height: 50%;
}

/* CSS applied to div of work_experience */
.work_experience {
  display: flex;
  flex-direction: column;
}

.work_experience_title {
  padding-bottom: 3rem;
}

.work_record {
  display: flex;
  flex-direction: row;
}

.circle_div {
  flex-grow: 3;
  margin: 2rem 5rem;
}

.circle {
  justify-content: center;
  align-items: center;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border: 12px solid #3282b8;
  background-color: #fef6fb;
  text-align: center;
  color: #3282b8;
  display: flex;
  box-shadow: 10px 10px 10px grey;
}

.line {
  border-top: 6px dotted #230444;
  border-bottom: 6px dotted #230444;
  z-index: 1;
  flex-grow: 3;
  border-radius: 8%;
}

.left_line {
  border-right: 6px solid #230444;
  margin-bottom: 50px;
  margin-right: 20px;
}

.right_line {
  border-left: 6px solid #230444;
  margin-top: 50px;
}
.left_line-short{
    margin-bottom: 100px;
}
.right_line-short{
  margin-top: 100px;
}
.hide {
  visibility: hidden;
}

/* CSS applied to modal (window popup)  */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button and Span Button  */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.span_btn,
.span_btn:link,
.span_btn:visited {
  color: #758184;
  cursor: pointer;
  padding: 20px 5px;
  width: 150px;
  font-size: 1rem;
  display: inline-block;
}

.span_btn:hover,
.span_btn:active {
  color: black;
  text-shadow: 2px 2px 4px #000000;
  cursor: pointer;
}

/* CSS applied to content of working holiday pop up page */
.woking-holiday_ul {
  font-size: 1rem;
}

img {
  width: 30%;
  margin: 20px 20px;
  float: left;
}

/* CSS applied to content of working holiday pop up page */
.woking_ul {
  font-size: 1rem;
}

img {
  width: 30%;
  margin: 20px 20px;
  float: left;
}

/* CSS applied to blog list */
.blog_li {
  font-size: 1rem;
  color: #4d4646;
}

.blog_li:hover {
  font-size: 1rem;
  color: #4d4646;
}

/* CSS applied to footer */
footer {
  background-color: #1b262c;
  color: white;
  text-align: center;
  padding: 10px 10px;
}
